<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-success"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="row">

  <div class="col-md-8">
    <select class="form-select" aria-label="Disabled select example">
      <option selected>Select Color</option>
      <option
        *ngFor="let color of colors"
        routerLink="/cars/color/{{ color.id }}"
    
      >
        {{color.name}}
      </option>
    </select>
  
  </div>
  
  <div class="col-md-4">
    <button class="btn btn-info" type="submit">Filter</button>
    <div class="divider"></div>
    <button class="btn btn-warning" type="submit">Reset</button>

  </div>

</div>



