.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.parent {
    border: 1px solid black;
    margin: 1rem;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }
  