<section >
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
              <h5 class="my-3">{{user.fullName | uppercase}}</h5>

            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                  <img src="assets/logo.png" alt="">
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.fullName | uppercase}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Password</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">*******************</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row" >
            <div class="col-md-12">
              <div class="card mb-4 mb-md-0" >
                <div class="card-body" >
                  
                  <p-table [value]="rentals" responsiveLayout="scroll" *ngIf="rentals?.values?.length > 0">
                    
                    <ng-template pTemplate="caption">
                      <p class="text-center h1 fw-bold text-white">Your Rented Cars</p>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Rent Date</th>
                            <th>Return Date</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rental>
                        <tr>
                            <td>{{rental.name}}</td>
                            <td><img [src]="'assets/donuts.jpg'"  width="100" class="shadow-4" /></td>
                            <td>{{rental.dailyPrice | currency:'USD'}}</td>
                            <td>{{rental.category}}</td>
                            <td><p-rating [ngModel]="rental.rating" [readonly]="true" [cancel]="false"></p-rating></td>
                            <td><span [class]="'rental-badge status-' + rental.inventoryStatus.toLowerCase()">{{rental.inventoryStatus}}</span></td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex align-items-center justify-content-between">
                            In total there are {{rentals ? rentals.length : 0 }} rentals.
                        </div>
                    </ng-template>
                  </p-table>
                  
                  <div class="bg-light p-5 rounded" *ngIf="rentals?.values?.length == 0">
                    <h1>Welcome to Your Profile</h1>
                    <p class="lead">Your rented car informations will appear here once you start renting our cars.</p>
                    <p class="lead">Go ahead and start looking our beautiful cars</p>

                    <a class="btn btn-lg btn-primary" routerLink="/" role="button">View Cars &raquo;</a>
                  </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </section>